/* body{
    padding-bottom: 2000px;
} */

.body{
    /* padding-bottom: 2000px; */
    /* overflow-y: scroll; */
    height: 1000px;
    max-width: 950px;
    margin: 10px auto;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;

}

.res-info{
    max-width: 50%;
    margin: 10px auto;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 0px 20px;
}

.nav-items {
    display: flex;
}

.logo{
    width: 100px;
    margin-left: 50px;
}

.search {
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 450px;
    border: 1px solid white;
    border-radius: 5px;
}

.res-card:hover{
    border: 1px solid black;
}

.res-img{
    background-color: white;
}

.res-img > img {
    width: 100%;
    z-index: -2;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    background-color: lightgray;
    width: 200px;
    height: 400px;
    margin: 5px;
    border-radius: 20px;
}

.filter{
    margin-top: 10px;
    display: flex;
}